.Flipper {
    max-width: 540px;
    font-size: 1em;
}

.frontCardtcc {
    background-color: rgb(226, 52, 43);
    max-width: 540px;
    max-height: 650px;
}

.card-image {
    min-width: 280px;
    min-height: 280px;
    width: 100%;
    height: 100%;
}

.backCardtcc {
    background-color: rgb(250, 139, 4);
    max-width: 540px;
    max-height: 650px;
}