.Flipper {
    
}

.frontCardtcc {
    max-width: 480px;
    max-height: 580px;
}

.card-image {
    
}

.backCardtcc {
    max-width: 480px;
    max-height: 580px;
}

.backCardtcc .txtBackCard{
    padding: 10px;
    position: absolute;
    top: 0;
}

@media (max-width: 475px) {
    .backCardtcc .txtBackCard{
        padding: 5px;
        font-size: 1.5rem;
        color: rebeccapurple;
    }

}

.backCardtcc .txtBackCard div{
    text-align: center;
}