.Flipper {
}


.frontCard {
    max-width: 480px;
    max-height: 580px;
}

.card-image {
    width: 100%;
    max-height: 580px;
    border-radius: 15px;
}

.backCard {
    position: relative;
    max-width: 480px;
    max-height: 580px;
}

.backCard .txtBackCard{
    padding: 10px;
    position: absolute;
    top: 0;
}


@media (max-width: 475px) {
    .backCard .txtBackCard{
        padding: 5px;
        font-size: 1.5rem;
        color: rebeccapurple;
    }

}


.backCard .txtBackCard div{ 
    text-align: center;
}

