.Flipper {
    max-width: 540px;
    max-height: 600px;
}


.frontCard {
    background-color: rgb(203, 148, 255);
    max-width: 540px;
    max-height: 650px;
}

.card-image {
    min-width: 280px;
    min-height: 280px;
    max-width: 480px;
    max-height: 580px;
    border-radius: 15px;
}

.backCard {
    background-color: rgb(7, 123, 11);
    max-width: 540px;
    max-height: 650px;
}

