.Flipper {
    max-width: 540px;
}


.frontCard {
    background-color: rgb(70, 21, 116);
    max-width: 540px;
    max-height: 650px;
}

.card-image {
    min-width: 280px;
    min-height: 280px;
    width: 100%;
    height: 100%;
}

.backCard {
    background-color: rgb(7, 123, 11);
    max-width: 540px;
    max-height: 650px;
}

