.Grade {
    height: 100vh;
    margin: 20px;
}


.Grade .imageGrade {
    width: 10%;
    position: absolute;
}


.Grade .imageGrade1 {
    width: 16%;
    bottom: 0;
    left: 30%;
}
.Grade .imageGrade2 {
    top: 35%;
    right: 50px;
}

.Grade .imageGrade4 {
    right: 35%;
}

.Grade .imageGrade5 {
    left: 50%;
    bottom: 0;
}

.Grade .imageGrade6 {
    right: 20%;
    top: 35%;
}

.Grade .imageGrade7 {
    right: 80%;
    bottom: 33%;
}

.Grade .imageGrade8 {
    bottom: 50%;
    right: 44%;
}

.Grade .imageGrade9 {
    top: 19%;
    left: 17%;
}

.Grade .imageGrade10 {
    bottom: 0;
}
