@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');



.Menu {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #FBD19B;
    z-index: 1;
}

@media (max-width: 600px) {
    
}

.Menu a {
    text-decoration: none;
    padding: 10px;
    color: black;

}

.Menu .logo {
   padding: 10px;
    font-size: 3rem;
    font-family: 'Spirax', cursive;
}