
.FormFooter input {
    width: 300px;
    font-size: 1.2rem;
    margin: 10px 0px;
}

.FormFooter .Button{
    margin-top: 10px;
    font-size: 1.1rem;
    border-style: none;
    padding:  5px;
    border: solid 1px;
}

