@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

.Footer {
    background-color: #FBD19B;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    font-size: 1.2rem;
}

.Footer .titulo{
    font-family: 'Spirax', cursive;
    font-size: 1.5rem;
    padding-bottom: 12px;

}

.Footer .Item-footer {
    background-color: rgb(98, 165, 98);
    text-align: center;
}

@media (max-width: 700px) {
    .Footer {
        display: grid;
        grid-template-columns:  2fr 1fr;
        
    }
    .Item-footer:last-child{
        background-color: aqua;
        grid-template-columns: 1/3;
    }
    
}

