@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

.Footer {
    background-color: #FBD19B;
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.Footer .titulo{
    font-family: 'Spirax', cursive;
    font-size: 1.8rem;

}

.Footer .Item-footer {
    padding: 30px;
    text-align: center;
    flex-grow: 1;
}

.Footer a{
    text-decoration: none;
    color: black;
    
}

.Footer abbr{
    text-decoration: none;
}

