.Contact {
    font-size: 1.5rem;
}

.Contact .titulo {
    text-align: center;
    font-size: 1.5rem;
}

.Contact .contact_folder {
    width: 100%;
    min-height: 200px;
}

.Contact .cards_contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Contact  .contactItem{
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 10px;
    max-width: 600px;
}

.Contact  .contactItemGrow{
    padding: 5px;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.Contact  .mapa{
    max-width: 600px;
}

