.MainForm {
    max-width: 90%;
    font-size: 1.5rem;
    padding: 10px;
}

@media (max-width: 425px) {
    .MainForm {
        min-width: 290px;
        max-width: 310px;
        font-size: 1.2rem;
        padding: 10px;
    }
}

.MainForm .Input {
    width: 90%;
    font-size: 1.2rem;
    margin: 10px 0px 20px ; 
}
.MainForm .Input2 {
    height: 40px;
}

.MainForm .button {
    background-color: #F8B662;
    font-size: 1.5rem;
    width: 150px;
}
.MainForm .inputFlie {
    text-align: center;
    margin: 10px 0px 20px;
    width: 86%;
    padding: 15px;
    background-color: white;
    font-size: 1.2rem;
}
.MainForm .buttonArea {
    text-align: center;
}