.topHome {
    margin-top: 100px;
    font-size: 1.5rem;
}

.Home {
    margin: auto;
    min-height: 100vh;
}


.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.visaoTxt {
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    width: 80%;
    height: 80vh;
    
}

@media (max-width: 465px) {
    .visaoTxt {
        font-size: 1.5rem;
    }
}



.CarrosselHome {
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80%;
    padding: 20px;
}

.car_image {
    max-width: 300px;
}




.TendenciasHome{
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 80%;
    height: 80vh;
}

.LookBookHome{
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 80%;
    height: 100vh;
}

@media (max-width: 920px) {
    .LookBookHome{
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .LookBookHome{
        font-size: 1rem;
        padding: 5px;
    }
}

.ItemLookBook{
    flex-grow: 1;
}

.ItemLookBook2{
    margin: auto;
    max-width: 300px;
}

@media (max-width: 380px) {
    .LookBookHome {
        padding: 3px;
    }
    .ItemLookBook2{
        max-width: 200px;
    }
}


.UnderlineFItemBook{
    border-bottom-style: solid;
}

.renderLookImage{
    max-width: 600px;
    max-height: 80vh;
}


@media (max-width: 810px) {
    .renderLookImage{
        max-width: 400px;
        max-height: 70vh;
    }
}
    

.HomeHistoria {
    display: flex;
    margin: auto;
    padding: 20px;
    max-width: 80%;
    
}

@media (max-width: 650px) {
    .HomeHistoria {
        width: 100%;
        flex-wrap: wrap;
        padding: 5px;
    }
}

@media (min-width: 1100px) {
    .historiaChamada{
        font-size: 3rem;
    }
}

@media (max-width: 1100px) {
    .historiaChamada{
        font-size: 2rem;
    }
}

.itemHomeHist {
    flex-grow: 1;
}


.EsterKhalifa {
    align-items: right;
}

.DreadHotImage{
    width: 70%;
}
.txtHistoria {
    max-width: 300px;
}
