.topHome {
    margin-top: 100px;
    font-size: 1.5rem;
}

.Home {
    margin: auto;
    min-height: 100vh;
}

.visaoTxt {
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: red;
    margin: auto;
    font-size: 2rem;
    width: 80%;
    height: 80vh;
}



.CarrosselHome {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80%;
    background-color: rgb(0, 247, 255);
    padding: 20px;
}




.TendenciasHome{
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 80%;
    height: 80vh;
    background-color: rgb(0, 255, 34);
}

.LookBookHome{
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 80%;
    height: 80vh;
    background-color: rgb(251, 255, 6);
}

@media (max-width: 920px) {
    .LookBookHome{
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .LookBookHome{
        font-size: 1rem;
    }
}

.ItemLookBook{
    background-color: pink;
    flex-grow: 1;
}

.renderLookImage{
    width: 100%;
    height: 100%;
}




.HomeHistoria {
    display: flex;
    margin: auto;
    padding: 20px;
    max-width: 80%;
    
}

@media (max-width: 650px) {
    .HomeHistoria {
        width: 100%;
        flex-wrap: wrap;
        padding: 5px;
    }
}

@media (min-width: 1100px) {
    .historiaChamada{
        font-size: 3rem;
    }
}

@media (max-width: 1100px) {
    .historiaChamada{
        font-size: 2rem;
    }
}


    



.itemHomeHist {
    flex-grow: 1;
}


.EsterKhalifa {
    align-items: right;
}

.DreadHotImage{
    width: 70%;
}
.txtHistoria {
    max-width: 300px;
}

/* até 750px  está responsivo */