.topHome {
    margin-top: 100px;
    font-size: 1.5rem;
}

.Home {
    background-color: blue;
    margin: auto;
    min-height: 100vh;
}

.visaoTxt {
    padding: 20px;
    margin: auto;
    font-size: 2rem;
    width: 70%;
}





.HomeHistoria {
    display: flex;
    max-width: 700px;
    background-color: red;
    justify-content: end;
    
}

.itemHomeHist {
    background-color: purple;
    flex-grow: 1;
}



.txtHistoria {
    max-width: 300px;
}