@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Gilda Display', serif;
  background: #FDE8CC;
}

button {
  background-color: #F8B662;
}
