.Services {
    font-size: 1.5rem;
}

.Services .services_folder{
    width: 100%;
    min-height: 200px;
}


.Services .titulo {
    text-align: center;
    font-size: 1.5rem;
}

.Services .txt {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 10px;
}

@media (max-width: 700px) {
    .Services .titulo{
        font-size: 1.2rem;
    }
    .Services .txt {
        font-size: 1.4rem;
    }
}


@media (max-width: 400px) {
    .Services .titulo{
        font-size: 1.1rem;
    }
    .Services .txt {
        font-size: 1.2rem;
    }  
}

.Services .cardsLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aquamarine;
}

.Services .carLinksItem{
    margin: 15px;
    font-size: 2rem;
}

