.Services {
    background-color: blue;
    margin-bottom: 70px;
}

.Services .services_folder{
    width: 100%;
    min-height: 200px;
}
.Services .titulo {
    text-align: center;
    font-size: 1.3rem;
}


.Services .txt {
    text-align: center;
    font-size: 1.8rem;
    width: 70%;
    margin: auto;
}

@media (max-width: 700px) {
    .Services .titulo{
        font-size: 1.2rem;
    }
    .Services .txt {
        font-size: 1.4rem;
    }
}
@media (max-width: 400px) {
    .Services .titulo{
        font-size: 1.1rem;
    }
    .Services .txt {
        font-size: 1.2rem;
    }
}


.Services .cardsLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(116, 45, 45);
}

.Services .carLinksItem{
    margin: 10px;
    font-size: 2rem;
}
.Services .carLinksItem2{
    background-color: antiquewhite;
    flex-grow: 1;
    max-width: 490px;
    max-height: 650px;
}
